[submodule "3rd-party/--recursive"]
	path = 3rd-party/--recursive
	url = https://github.com/sitepoint-editors/HelloCpp.git
[submodule "3rd-party/HelloCpp"]
	path = 3rd-party/HelloCpp
	url = https://github.com/sitepoint-editors/HelloCpp.git
[submodule "3rd-party/libigl"]
	path = 3rd-party/libigl
	url = https://github.com/libigl/libigl.git
[submodule "library/libigl"]
	path = library/libigl
	url = https://github.com/libigl/libigl.git
